@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background: #0f1a20;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: #f3ca40;
}

.center {
  text-align: center;
}

#calculator {
  background: #88a2aa;
  border: 1px solid black;
  border-radius: 8px;
  width: 340px;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 20px;
}

#result_box #history {
  box-sizing: border-box;
  background: none;
  border: 0;
  padding: 0px;
  margin: 8px 2%;
  width: 96%;
  font-size: 1rem;
  text-align: right;
}

#result_box #result {
  box-sizing: border-box;
  padding: 5px;
  margin: 8px 2%;
  width: 96%;
  font-size: 1.3rem;
  text-align: right;
}

#calculator button {
  font-size: 1.3rem;
}

.row {
  display: flex;
  margin: 0px 10px;
}

.apart {
  justify-content: space-between;
}

.small_button {
  width: 70px;
  height: 50px;
  margin: 5px 5px;
}

.midx_button {
  height: 50px;
  width: 150px;
  margin: 5px 5px;
}
